<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
=======
@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/Roboto/Roboto-Bold.ttf);
}
>>>>>>> 8073b15653d36b1d9d1c8b263ad7fc5ca1790692
