* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root{
--primary-color:#525560;
--Primary-text:#1D2130;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}


input,
textarea {
  outline: none;
}

ul {
  list-style-type: none;
  display: flex;

  gap: 40px;
}
