@import "../base/global.css";
@import "../modules/donate.css";
* {
  padding: 0;
  margin: 0;
}
*::after,
::before {
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
#donation {
  background-color: #eff7f2;
}
.donation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation-home-left img {
  margin-top: 96px;
}
.donation-home-left-inf {
  margin-left: 93px;
}
.donation-home-left-inf h1 {
  padding-top: 32px;
  color: #1d2130;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}
.donation-home-left-inf p {
  padding-top: 14px;
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.donation-home-left button {
  margin-left: 92px;
  margin-top: 32px;
  margin-bottom: 96px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #70c174;
  backdrop-filter: blur(40px);
}
.donation-home-left a {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.donate-home-right img {
  margin-top: 96px;
  margin-bottom: 96px;
  margin-left: 76px;
}
.donation-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation-overview-left {
  margin-top: 96px;
  margin-bottom: 107px;
}
.donation-overview-left h2 {
  width: 592px;
  color: #1d2130;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}
.donation-overview-left p {
  width: 592px;
  padding-top: 24px;
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.donation-overview-right {
  margin-top: 96px;
  margin-left: 96px;
  margin-bottom: 107px;
}
.donation-list {
  width: 592px;
}
.donation-item a {
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.donation-item a:hover {
  width: 592px;
  color: #1d2130;
}
.donation-overview-right p {
  padding-top: 24px;
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.donation-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
}
.donation-desc-card {
  margin-top: 96px;
}
.donation-desc-card h2 {
  width: 374px;
  color: #1d2130;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}
.donation-desc-card p {
  width: 338px;
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.donation-desc-card-text p {
  width: 338px;
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
